@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body {
    background-color: #e5e5e5;
}

.conteiner {
    width: 375px;
    background-color: #F4F4F4;
    margin: 0 auto;
    margin-top: 100px;
}

header {
    background-color: #1B83E2;
    height: 66px;
}

h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
    padding-top: 25px;
    color: #F4F4F4;
}

main {
    padding: 24px;
}

label {
    font-family: nornal;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

select {
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding: 10px;
    box-shadow: 2px 2px 5px 0px #00000026;
    margin-top: 6px;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 18px;
    color: #777777;
}

option {
    opacity: 30px;
}

input {
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    height: 48px;
    display: block;
    width: 100%;
    outline: none;
    padding: 16px;
    box-shadow: 2px 2px 5px 0px #00000026;
    margin-top: 6px;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: bold;
}

button {

    border-radius: 25px;
    width: 100%;
    background-color: #1B83E2;
    color: #F4F4F4;
    height: 48px;
    border: none;
    cursor: pointer;
    font-family: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    ;
    margin-bottom: 23px;
    margin-top: 5px;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

section {
    border-radius: 5px;
    border: 3px solid #1B83E2;
}

.currency-conteiner {
    text-align: center;
    padding: 10px;
}

.currency-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #565652;
}

.currency-value {
    font-size: 20px;
    font-weight:bold;
   color: #1B83E2;
}

.arrow-img {
    margin: 15px auto;
    display: block;
}